*.py?
*.egg-info
*.swp
*.vim
config.yaml
.coverage
.project
.pydevproject
test.ini
data
build
dist
associations
openid_data
env

# PyCharm users, please keep your data locally.
.idea/

docs/_build

.tox
nosetests.xml
coverage.xml
